body {
  margin: 0%;
  font-family: "Lato", sans-serif;
}

/* header related styles start here  */
.container {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
}
.container-info {
  margin: 150px 0px 30px 200px;
}
.info-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.info-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  height: 60px;
  width: 150px;
  background: #e55473;
}
.container-img {
  width: 600px;
  margin-top: 50px;
  margin-right: 200px;
}

/* feature related styles */
.feature {
  align-items: center;
  text-align: center;
}
.feature-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 100px;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.feature-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 200px 100px 200px;
}
.column-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.column-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.column-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.column-img {
  width: 310px;
  height: 320px;
  margin-top: 100px;
}
.column-heading {
  color: #272727;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  text-decoration-line: underline;
}
/* mini feature bar related styles  */
.feature-bar {
  height: 320px;
  border-radius: 8px;
  border: 0;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 220px 100px 220px;
}

.item-header {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}
/* deal section related styles  */
.deal {
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  border: 0;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 100px;
}
.deal-info {
  margin-left: 350px;
  text-align: center;
}
.deal-img {
  margin-right: 400px;
}
.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.highlight {
  color: #e55473;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

/* instagram section related styles */
.gallery {
  display: flex;
  margin: 40px 220px 100px 220px;
  align-items: center;
  justify-content: space-around;
}
.photos {
  width: 342px;
  height: 396px;
}
/* latest deal section related styles */
.deal-feature {
  height: 450px;
  margin: 40px 220px 100px 220px;
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}
.contact input[type="email"] {
  padding: 18px 35px;
  width: 700px;
  border: 0;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}
